body{
  background: url(/static/media/bg.e2c26917.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/* AddTask Component */
.previewComponent {
  padding: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: bisque;
}
.imgPreview{
  background-color: blanchedalmond;
  max-width: 90px;
  max-height: 100px;
  justify-content: center;
  padding-top: 4 rem;
}
.imgPreview img {
  width: 90px;
  height: 100px;
}

/* Task Button */
.addtask-btn{
  position: absolute;
  left: 50%;
  padding-top: 5rem;
}
.addtask-btn button {
  border-radius: 4px;
  background: #47cf73;
  padding: 5px 10px;
  font-weight: 700;
  border: 3px solid transparent;
}

.custom-file-upload{
  border-radius: 4px;
  background: #47cf73;
  padding: 5px 10px;
  font-weight: 700;
  border: 3px solid transparent;
}
.select-text{
  font-size: 16px;
  padding: 3px;

}
input#file-upload{
  padding-bottom: 10px;
}

/* Logout Component */
div.logout-container{
   padding: 3rem;
}

.login{
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  width: 13rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  position: absolute;
  left: 50%;
  top: 25%;

  text-shadow: 3px 6px rgba(50,50,70,0.2);
  box-shadow: 3px 6px rgba(0,0,0,0.2);

}
  
  @media (max-width: 576px){
    .login { 
       left:0;
       top:25%;
  }
  .image-review img{
    left: 20% !important;
    top: 38% !important;
  }
}

/* Profile Image of Login Form  */
.profile{
  padding-left: 1px;
  text-align: center;
  align-items: center;
  border-style: ridge;
}
.btn-wrapper{
  display: flex;
  justify-content: center;
}
input.submit-btn{
  padding: 5px;
  background: #444857;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: 700;
  border: 3px solid transparent;
  justify-content: center
  ;
}

/* Home Page after login */
.home{
  padding: 5rem;
  width: 100%;
}

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 1.2rem;
  }
}
/* Logout Button */
.logout-btn{
  padding: 2rem;
  position: absolute;
  left: 80%;
}
.logout-btn button{
  background: #444857;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: 700;
  border: 3px solid transparent;
}

/* Buttons */

button.submit-btn{
  border-radius: 4px;
  background: #47cf73;
  padding: 5px 10px;
  font-weight: 700;
  border: 3px solid transparent;
}
button.login-btn  {
  border-radius: 4px;
  background: #47cf73;
  padding: 5px 10px;
  font-weight: 700;
  border: 3px solid transparent;

}
.submit-btn button {
  border-radius: 4px;
  background: #47cf73;
  padding: 5px 10px;
  font-weight: 700;
  border: 3px solid transparent;
}
/* form */
.form-container{
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);  border-radius: 20px;
  padding: 2rem;
  box-shadow: 3px 6px rgba(0,0,0,0.2);

}

/* Move Content at Top */
.move-top{
  position: absolute;
  top: -7rem;
}